
/*.fancy-header {*/
/*    color: purple;*/
/*}*/


body {
    font-family: monospace, sans-serif;
    background-image: url("/img/hex-675576_1280.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h1 {
    text-align: center;
    color: purple;
}

h2 {
    color: purple;
    text-decoration: underline;
    text-underline-color: purple;
}

br{
    color: orange;
}

.fancy-header {
    color: purple;
    text-decoration: purple;
    text-underline-color: purple;
}

.row {
   display: flex;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

#our-product {
    padding-left: 80px;
}

table, em {
    color: purple;
}


th {
    text-decoration: purple;
}

tr {
    padding: 10px;
}

td {
    padding: 10px;
}

ul, ol {
    color: purple;
    list-style: square;
}

.text-center, .intro, .val {
    text-align: center;
}

p {
    color: purple;
    position: center;
}

a:link {
    color: orange;
}

a:visited {
    color: black;
}

a:hover {
    color: purple;
}

a:active {
    color: azure;
}


