
* {
    border: red 1px solid;
}

:root {
    --wt: #ffffff;
    --blue: #1e90ff;
    --dblue:#0c3448;
    --lb:#e5a97c;
    --mb:#c17743;
    --dbrown:#37201c;
    --lg:#9db57c;
    --mg:#526024;
    --dg:#9db57c;
}

/*example*/
/*body { background-color: var(--blue); }*/

/*coffee color palette*/
.cc {

}


/*GH START*/
body, form{
    box-sizing: border-box;
    /*display: flex;*/
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    background-repeat: no-repeat;
    background-size: cover;

}


h1 {
    padding: 20px;
    text-align: center;
    /*width: 100%;*/
}

#sh {
    font-size:  200%;
    text-align: center;
    /*width: 100%;*/
}

#coffees {
    display:flex;
    flex-wrap: wrap;
    order: 1;
    width: 50%;
}

.inputs {
    position: absolute;
    transform: translate(750px,100px);
    text-align: center;
    background-color: var(--mg);
    width: 40%;
    height: 13em;
    order: 2;
    border: inset;
    border-radius: 15px;
}

.coffee {
    text-align: center;
    padding: 0 10px;
    margin: 10px;
    border: inset;
    border-radius: 15px;
    background-color: var(--mg);
}

input, select {
    border: inset;
}

/*GH END*/