
* {
    border: red 1px solid;
}




/*GH START*/
body{
    box-sizing: border-box;
    /*display: flex;*/
    height: 100%;
    width: 100%;
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
    /*background-image: url("img/coffeebox.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}


h1 {
    font-size:  300%;
    text-align: center;
    /*width: 100%;*/
}

#sh {
    font-size:  200%;
    text-align: center;
    /*width: 100%;*/
}

#coffees {
    display:flex;
    flex-wrap: wrap;
    order: 1;
    width: 50%;


}

.inputs {
    position: absolute;
    transform: translate(750px,100px);
    text-align: center;
    background-color: rgba(139,69,19,60%);
    width: 40%;
    height: 13em;
    order: 2;
    border: inset;
    border-radius: 15px;
}

.coffee {
    text-align: center;
    padding: 0 10px;
    margin: 10px;
    border: inset;
    border-radius: 15px;
    background-color: rgba(139,69,19,60%);
}

input, select {
    background-color: saddlebrown;
    color: antiquewhite;
    border: inset;
}

/*GH END*/